body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 3500px;
  background-color: black;
}

.Home_body{
  position: relative; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Home_body .first_page{
  position: relative; 
  display: flex;
  flex-direction: row;
  width: 100%;
}
.first_page_image{
position: absolute;
width: 100%;
z-index: -1;
}
.Home_body .first_page .text_div{
  position: absolute;
  margin-top: 330px;
  margin-left: 150px;
}
.Home_body .first_page .text_up{
  width: 500px;
  font-size: 75px;
  color: rgb(214, 185, 105);   
}
.Home_body .first_page .text_down {
  display: inline-block; 
  padding: 8px 35px; 
  font-size: 30px;
  color: rgb(214, 185, 105);
  border: 2px solid rgb(214, 185, 105); 
  margin-top: 70px;
  cursor: pointer;
  transition:color 0.4s;
  position: relative;
  --accent-color:rgba(214, 185, 105, 0.3);
  z-index: 1;
  }
  .Home_body .first_page .text_down::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
      
    transition: transform 0.6s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  .Home_body .first_page .text_down:hover::before,
  .Home_body .first_page .text_down:focus::before{
    transform: scaleX(1);    
  }
  .Home_body .first_page .text_down:hover,
  .Home_body .first_page .text_down:focus{
    color: #fff;
  }
  @media(max-width: 750px){
    .Home_body .first_page{
      height: 250px;
      width: auto;
    }
    .first_page_image{
      height: 350px;
      width: 100%;
      object-fit: cover;
      margin-top: 80px;
      opacity: 0.3;
    }
    
    .Home_body .first_page .text_div{
      position: absolute;
      margin-top: 170px;
      margin-left: 25px;
    }
    .Home_body .first_page .text_up{
      font-size: 25px;
      color: rgb(214, 185, 105);   
    }
    .Home_body .first_page .text_down {
      padding: 4px 17px; 
      font-size: 15px;
      margin-top: 15px;
      }
  }


  

  /* --------------------secound page-------------------- */
  .secound_page{
    background-color: black;
    height: 800px;
    width: 100%;
    margin-top: 100vh;
  }
  .secound_page .title{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
  }
  .secound_page .case_container {
    display: flex;
    justify-content: center; 
    margin-top: 100px;
  }
  .secound_page .case_all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
  }
  .case{
    background-color: #2d2d2d;
    width: 275px;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition:  1s;
  }
  .case:hover{
    transition:  1s;
    background: rgb(135,122,65);
    background: linear-gradient(0deg, rgba(135,122,65,1) 0%, rgba(66,60,32,1) 23%, rgba(0,0,0,1) 100%);
    margin-top: -15px;
  }
  .case:hover .case_image {
    display: none;
  }
  .case:hover .case_title {
    color: #fff;
  }
  .case_indder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .case_image{
    height: 90px;
    margin: 0 auto;
    display: block;
  }
  .case_title{
    color: rgb(214, 185, 105);
    font-size: 40px;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 200px;
    margin-top: 20px;
  }
  .case_text{
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  @media(max-width: 750px){
    .secound_page{
      background-color: black;
      margin-top: 100px;
      height: 1380px;
    }
    .secound_page .title{
      font-size: 25px;
      margin-top: 70px;
    }
    .secound_page .case_container {
      margin-top: 30px;
    }
    .secound_page .case_all{
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 16px;
    }
    .case{
      margin-bottom: 20px;
    }
  }
  @media (min-width: 751px) and (max-width: 999px){
    .secound_page .case_all{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
    }
    .case{
      margin-bottom: 20px;
    } 
  }
  /* --------------------third page-------------------- */
  .third_page{
    background-color: black;
    width: 100%;
    margin-top: 100vh + 800px;
  }
  .third_page .third_div{
    display: flex;
    align-items: center;
  }

  .third_page .third_image{
    height: 550px;
    margin-left: -75px;
  }
  .third_page .third_text_all{
    margin-left: 100px;
  }
  .third_page .third_text1{
    color: rgb(214, 185, 105);
    font-size: 50px;
    margin-bottom: 20px;
  }
  .third_page .third_text2{
    color: #fff;
    font-size: 25px;
    width: 430px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .third_page .third_text3{
    color: #fff;
    font-size: 30px;
    border: 2px solid;
    padding: 10px 40px;
    display: inline-block;
    cursor: pointer;
    transition: color 0.4s;
  }
  .third_page .third_text3:hover{
    color: rgb(214, 185, 105);
  }
  @media(max-width: 750px){
    .third_page{
      background-color: black;
      width: 100%;
      margin-top: 1380px + 250px;
    }
    .third_page .third_div{
      position: relative;
      justify-content: center;
    }
    .image_ddiv{
      opacity: 0.5;
      margin-left: -60px;
    }
    .third_page .third_image{
      margin-top: 70px;
      height: 200px;
      width: 100%;
      object-fit: cover;
      margin-left: 0px;
    }
    .third_page .third_text_all{
      position: absolute;
      margin-top: 65px;
      margin-left: 0px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .third_page .third_text1{
      text-align: center;
      font-size: 25px;
      margin-bottom: 10px;
    }
    .third_page .third_text2{
      text-align: center;
      font-size: 15px;
      width: auto;
      padding: 0 25px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    .third_page .third_text3{
      text-align: center;
      font-size: 15px;
      border: 2px solid;
      padding: 4px 17px;
      margin: 0 135px;
    }
  }
