*{
  margin:0;
  padding: 0;
  }
  a{
    font-family: "Noto Sans TC", "Roboto", Arial;
    text-decoration: none;
  }
  body{
    min-height: 100vh;
    height: auto;
    background-color: black;
  }
  .page1{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page1 p{
    margin-top: 100px;
    font-size: 50px;
    color: #fff;
    }
  .page1 img{
    position: absolute;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
  }
  @media(max-width:700px){
    .page1 p{
      font-size: 40px;
      }
  }
  /*這是page2*/
  .page2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;

  }
  .page2 .objectAll{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    margin: 100px 0;
  }  
  .page2 .object{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 260px;
    box-shadow: rgb(209, 209, 209) 1px 1px 10px;
    cursor: pointer;
  }
  .page2 .objectUp{
    height: 180px;
    width: 100%;
  }
  .page2 .object img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .page2 .object:hover img{
    opacity: 0.5;
  }
  .page2 .object .tittleDiv{
    width: auto;
  }
  .page2 .object .title{
    position: relative;
    text-align: center;
    top: -60px;
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: rgb(6, 6, 6) 1px 1px 20px;
    transition: 0.3s;
    display: inline-block;
  }
  .page2 .object:hover .title{
    top:-80px;
  }
  .page2 .object .text{
    font-size: 1rem;
    color: #1a1a1a;
    margin-top: 10px;
    padding: 0 10px;
  }
@media (max-width: 1100px) {
  .page2 .objectAll{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750px) {
  .page2 .objectAll{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 88%;
    align-items: center;
    max-width: 90%;
    margin: 100px auto;
    row-gap: 40px;
  } 
  .page2 .object{
    max-width: none;
    height: 310px;
  }
  .page2 .objectUp{
    height: 250px;
  }
  .page2 .object .text{
    text-align: center;
  }
}
